.winner {
    color: green;
}
.winner2{
    color: red;
}
.black{
    color: black;
}
body{
    background: skyblue;
    align-items: center;
    text-align: center;
    gap: 20px;
}
div{
    margin: 20px;
}
button{
    border: none;
    border: 3px solid black;
    color: crimson;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background: crimson;
    color: black;
}
input{
    border: 3px solid black;
}